.side-bar,
.side-bar ul {
    transition: var(--main-transition);
}

.side-bar li {
    list-style: none;
    padding: 10px 10px;
    transition: var(--low-transtiton);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #202040;
}

.side-bar i {
    position: relative;
    transition: var(--low-transtiton);
}

.side-bar li::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(229 231 235);
    color: white;
    z-index: 0;
    left: 0;
    transition: var(--main-transition);
    border-radius: 8px;
}

.side-bar li:hover::before {
    width: 100%;
}

.parent-sidebar span {
    transition: 0.5s;
    position: absolute;
    right: -500px;
    color: black;
    width: 90%;
}

span.active {
    right: 38%;
    transform: translateX(50%);
}


#toggle {
    width: 50px;
    height: 40px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:10px;
}

#toggle::before {
    content: '';
    width: 20px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    transform: translateY(5px);
    transition: 0.3s;
}

#toggle::after {
    content: '';
    width: 20px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    transform: translateY(-5px);
    transition: 0.3s;

}

#toggle.active::before {
    transform: translateY(0);
    transform: rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0);
    transform: rotate(-45deg);
}