@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --blue-color: #3468C0;
  --main-transition: 0.5s;
  --low-transition: 0.5s;
}

.bg-icon {
  background-color: rgb(96 125 139);
}

.icon-color {
  color: rgb(96 125 139)
}

.blue-color {
  color: var(--blue-color)
}

.bg-main-color {
  background-color: var(--blue-color);
}

.main-transition {
  transition: var(--main-transition);
}

.bg-perfect {
  background-color: #22bb33;
}

.bg-pending {
  background-color: #F29339;
}

.bg-landing {
  background: rgb(244, 245, 252);
  background: linear-gradient(90deg, rgba(244, 245, 252, 1) 0%, rgba(235, 235, 243, 1) 65%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.bell-notify {
  position: relative;
}